@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100&subset=latin,latin-ext);
body {
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
}
.btn {
  font-size: 14px;
  font-weight: 400;
}
.btn-border {
  background: transparent;
  border: 1px solid #fff;
  color: #fff !important;
}
.btn-border:hover {
  background: rgba(255, 255, 255, 0.08);
}
.clear {
  clear: both;
}
.row {
  padding: 30px 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
.section {
  padding: 90px 0;
}
.section-header .section-title {
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 700;
}
.section-header .section-subtitle {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}
.title-small {
  font-size: 38px;
  color: #727272;
  margin-bottom: 30px;
  line-height: 50px;
}
.content-wrap {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.show-menu .content-wrap {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.navbar-fixed-top {
  padding: 15px 0;
}
.affix {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  padding: 0!important;
  background: #F57C00 !important;
}
.sticky-navigation .row {
  padding: 0;
}
.navbar.menu-wrap .navbar-header {
  margin: 0 85px;
  float: none;
}
.navbar.menu-wrap {
  position: fixed;
  width: 250px;
  top: 0;
  right: 0;
  min-height: 100%;
  border-radius: 0;
  margin: 0;
  z-index: 9999;
  height: 100%;
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.navbar-nav {
  margin: 0;
  float: none;
}
.navbar .navbar-nav li {
  float: none;
}
.navbar .navbar-nav li a {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 14px;
  padding: 15px 20px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li .active a {
  background: rgba(255, 255, 255, 0.1);
}
.show-menu .navbar.menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.navbar.menu-wrap .navbar-form {
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  box-shadow: none;
  display: block;
}
.navbar.menu-wrap .navbar-form .form-control {
  display: block;
  width: 100%;
}
.logo-left {
  color: #fff;
  font-size: 24px;
}
.logo-left i {
  margin-right: 7px;
}
.logo-right {
  margin-bottom: 15px;
}
.close-button {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 30px;
  overflow: hidden;
  text-indent: 10px;
  border: none;
  background: transparent;
  color: transparent;
}
.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #bdc3c7;
}
.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-button:hover:before,
.close-button:hover:after {
  background: #fff;
}
.navbar .navbar-header {
  padding: 13px 0;
}
.menu-icon {
  background: transparent;
  border: none;
  margin-right: 15px;
}
.menu-icon i {
  font-size: 50px;
}
.menu-icon i:hover {
  color: #fff;
}
@media (max-width: 768px) {
  body.toggled {
    position: fixed;
  }
}
.hero-area {
  background: url(../img/hero-area.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
}
.hero-area .sticky-navigation {
  background: transparent;
}
.hero-area .contents h1 {
  font-size: 30px;
  font-weight: 100;
}
.hero-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.hero-area .contents .btn {
  margin: 15px;
}
@media (min-width: 1200px) {
  .hero-area {
    padding: 280px 0;
  }
  .hero-area h1 {
    font-size: 50px !important;
  }
}
#features {
  background: #fff;
}
#features .features {
  margin: 30px 0;
}
#features .features .icon {
  float: left;
  text-align: center;
}
#features .features .icon i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  font-size: 36px;
  color: #3f51b5;
}
#features .features h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #212121;
}
#features .features .features-text {
  padding-left: 80px;
}
#features .features .features-text p {
  margin: 0;
}
.main-feature-gray {
  background: #ecf0f1;
}
#copyright {
  background: #191919;
}
#copyright .copyright-text {
  color: #fff;
  margin-top: 15px;
  text-align: center;
}
#copyright .copyright-text a {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}


.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.btn-social > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
  padding-left: 61px
}

.btn-social.btn-lg > :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em
}

.btn-social.btn-sm {
  padding-left: 38px
}

.btn-social.btn-sm > :first-child {
  line-height: 28px;
  width: 28px;
  font-size: 1.4em
}

.btn-social.btn-xs {
  padding-left: 30px
}

.btn-social.btn-xs > :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em
}

.btn-social-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0
}

.btn-social-icon > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
  padding-left: 61px
}

.btn-social-icon.btn-lg > :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em
}

.btn-social-icon.btn-sm {
  padding-left: 38px
}

.btn-social-icon.btn-sm > :first-child {
  line-height: 28px;
  width: 28px;
  font-size: 1.4em
}

.btn-social-icon.btn-xs {
  padding-left: 30px
}

.btn-social-icon.btn-xs > :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em
}

.btn-social-icon > :first-child {
  border: none;
  text-align: center;
  width: 100% !important
}

.btn-social-icon.btn-lg {
  height: 45px;
  width: 45px;
  padding-left: 0;
  padding-right: 0
}

.btn-social-icon.btn-sm {
  height: 30px;
  width: 30px;
  padding-left: 0;
  padding-right: 0
}

.btn-social-icon.btn-xs {
  height: 22px;
  width: 22px;
  padding-left: 0;
  padding-right: 0
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:focus, .btn-facebook.focus {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active:hover, .btn-facebook.active:hover, .open > .dropdown-toggle.btn-facebook:hover, .btn-facebook:active:focus, .btn-facebook.active:focus, .open > .dropdown-toggle.btn-facebook:focus, .btn-facebook:active.focus, .btn-facebook.active.focus, .open > .dropdown-toggle.btn-facebook.focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
  background-image: none
}

.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled].focus, fieldset[disabled] .btn-facebook.focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook .badge {
  color: #3b5998;
  background-color: #fff
}

.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:focus, .btn-github.focus {
  color: #fff;
  background-color: #2b2b2b;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover {
  color: #fff;
  background-color: #2b2b2b;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open > .dropdown-toggle.btn-github {
  color: #fff;
  background-color: #2b2b2b;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active:hover, .btn-github.active:hover, .open > .dropdown-toggle.btn-github:hover, .btn-github:active:focus, .btn-github.active:focus, .open > .dropdown-toggle.btn-github:focus, .btn-github:active.focus, .btn-github.active.focus, .open > .dropdown-toggle.btn-github.focus {
  color: #fff;
  background-color: #191919;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open > .dropdown-toggle.btn-github {
  background-image: none
}

.btn-github.disabled, .btn-github[disabled], fieldset[disabled] .btn-github, .btn-github.disabled:hover, .btn-github[disabled]:hover, fieldset[disabled] .btn-github:hover, .btn-github.disabled:focus, .btn-github[disabled]:focus, fieldset[disabled] .btn-github:focus, .btn-github.disabled.focus, .btn-github[disabled].focus, fieldset[disabled] .btn-github.focus, .btn-github.disabled:active, .btn-github[disabled]:active, fieldset[disabled] .btn-github:active, .btn-github.disabled.active, .btn-github[disabled].active, fieldset[disabled] .btn-github.active {
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github .badge {
  color: #444;
  background-color: #fff
}

.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:focus, .btn-google.focus {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:hover {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active, .btn-google.active, .open > .dropdown-toggle.btn-google {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active:hover, .btn-google.active:hover, .open > .dropdown-toggle.btn-google:hover, .btn-google:active:focus, .btn-google.active:focus, .open > .dropdown-toggle.btn-google:focus, .btn-google:active.focus, .btn-google.active.focus, .open > .dropdown-toggle.btn-google.focus {
  color: #fff;
  background-color: #a32b1c;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active, .btn-google.active, .open > .dropdown-toggle.btn-google {
  background-image: none
}

.btn-google.disabled, .btn-google[disabled], fieldset[disabled] .btn-google, .btn-google.disabled:hover, .btn-google[disabled]:hover, fieldset[disabled] .btn-google:hover, .btn-google.disabled:focus, .btn-google[disabled]:focus, fieldset[disabled] .btn-google:focus, .btn-google.disabled.focus, .btn-google[disabled].focus, fieldset[disabled] .btn-google.focus, .btn-google.disabled:active, .btn-google[disabled]:active, fieldset[disabled] .btn-google:active, .btn-google.disabled.active, .btn-google[disabled].active, fieldset[disabled] .btn-google.active {
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google .badge {
  color: #dd4b39;
  background-color: #fff
}

.btn-instagram {
  color: #fff;
  background-color: #3f729b;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:focus, .btn-instagram.focus {
  color: #fff;
  background-color: #305777;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:hover {
  color: #fff;
  background-color: #305777;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
  color: #fff;
  background-color: #305777;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active:hover, .btn-instagram.active:hover, .open > .dropdown-toggle.btn-instagram:hover, .btn-instagram:active:focus, .btn-instagram.active:focus, .open > .dropdown-toggle.btn-instagram:focus, .btn-instagram:active.focus, .btn-instagram.active.focus, .open > .dropdown-toggle.btn-instagram.focus {
  color: #fff;
  background-color: #26455d;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
  background-image: none
}

.btn-instagram.disabled, .btn-instagram[disabled], fieldset[disabled] .btn-instagram, .btn-instagram.disabled:hover, .btn-instagram[disabled]:hover, fieldset[disabled] .btn-instagram:hover, .btn-instagram.disabled:focus, .btn-instagram[disabled]:focus, fieldset[disabled] .btn-instagram:focus, .btn-instagram.disabled.focus, .btn-instagram[disabled].focus, fieldset[disabled] .btn-instagram.focus, .btn-instagram.disabled:active, .btn-instagram[disabled]:active, fieldset[disabled] .btn-instagram:active, .btn-instagram.disabled.active, .btn-instagram[disabled].active, fieldset[disabled] .btn-instagram.active {
  background-color: #3f729b;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram .badge {
  color: #3f729b;
  background-color: #fff
}

.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:focus, .btn-twitter.focus {
  color: #fff;
  background-color: #2795e9;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:hover {
  color: #fff;
  background-color: #2795e9;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
  color: #fff;
  background-color: #2795e9;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active:hover, .btn-twitter.active:hover, .open > .dropdown-toggle.btn-twitter:hover, .btn-twitter:active:focus, .btn-twitter.active:focus, .open > .dropdown-toggle.btn-twitter:focus, .btn-twitter:active.focus, .btn-twitter.active.focus, .open > .dropdown-toggle.btn-twitter.focus {
  color: #fff;
  background-color: #1583d7;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
  background-image: none
}

.btn-twitter.disabled, .btn-twitter[disabled], fieldset[disabled] .btn-twitter, .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled.focus, .btn-twitter[disabled].focus, fieldset[disabled] .btn-twitter.focus, .btn-twitter.disabled:active, .btn-twitter[disabled]:active, fieldset[disabled] .btn-twitter:active, .btn-twitter.disabled.active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter.active {
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter .badge {
  color: #55acee;
  background-color: #fff
}
/* ========================================================================
  Match Panel CSS
 ========================================================================== */

/** ====== Global styles ====== **/
#match-list ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#match-list img {
  max-width: 100%;
}
#match-list h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
#match-list a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

/** ====== Upcoming Event styles ====== **/


#match-list {
  font-size: 14px;
  line-height: 24px;
}
#match-list .mix {
  display: none;
}
#match-list .tab-content-wrap {
  margin: 0px -10px;
  padding: 0 10px;
  margin-bottom: 25px;
}
#match-list .tab-content-wrap .col-lg-4:hover .img-holder img {
  transform: scale(1.5);
}
#match-list .tab-content-wrap .col-lg-4:hover .img-holder:before {
  bottom: 0;
}
#match-list .tab-content-wrap .col-lg-4:hover .img-holder:after {
  bottom: 0;
}
#match-list .tab-content-wrap .col-lg-4:hover .content-wrap {
  box-shadow: 0 0 0 1px #FFC107;
}
#match-list .tab-content-wrap  .img-holder {
  overflow: hidden;
  position: relative;
}
#match-list .tab-content-wrap  .img-holder img {
  transition: all .3s ease;
}
#match-list .tab-content-wrap  .content-wrap {
  background: #fff;
  padding: 0 30px 30px;
}
#match-list .tab-content-wrap  .content-wrap .author-img {
  margin-top: -20px;
  position: relative;
  z-index: 99999;
  border-radius: 50%;
}
#match-list .tab-content-wrap  .content-wrap .meta {
  margin-bottom: 25px;
  margin-top: 15px;
}
#match-list .tab-content-wrap  .content-wrap .meta ul {
  text-align: left;
}
#match-list .tab-content-wrap  .content-wrap .meta ul li {
  display: inline;
}
#match-list .tab-content-wrap  .content-wrap .meta ul li span {
  display: inline-block;
  color: #929FA8;
  margin-right: 10px;
}
#match-list .tab-content-wrap  .content-wrap .meta ul li span .fa {
  color: #FFC107;
  margin-right: 5px;
}
#match-list .tab-content-wrap  .content-wrap h3 {
  font-size: 18px;
  color: #374045;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}
#match-list .tab-content-wrap  .content-wrap p {
  color: #929fa8;
}
#match-list .tab-content-wrap  .content-wrap a.btn-match {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease;
}
#match-list .tab-content-wrap  .content-wrap a.btn-match .fa {
  margin-left: 5px;
}
#match-list .tab-content-wrap .content-wrap a.btn-match:hover {
  color: #FF8625;

}
.btn-match{
  display: inline-block;
  border: 2px solid transparent;
  line-height: 44px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  padding: 0 18px;
  text-transform: uppercase;
  background: #FF8625;
  margin-top: 15px;
}

.btn-match:hover {
  border-color: #FF8625;
  color: #FF8625;
  background: #fff;
}
.btn-match:before {
  border-radius: 5px;
  background: #fff;

}
a.btn-match {
  display: inline-block;
  border: 2px solid transparent;
  line-height: 44px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  padding: 0 18px;
  text-transform: uppercase;
  background: #FF8625;
  margin-top: 15px;
}
a.btn-match:hover {
  border-color: #FF8625;
  color: #FF8625;
}
a.btn-match:before {
  border-radius: 5px;
  background: #fff;

}
