{# app/Resources/views/Form/fields.html.twig #}
{% block form_errors %}
    {% if errors|length > 0 %}
        {%- for error in errors -%}
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="alert alert-danger">
                        {{ error.message }}
                    </div>
                </div>
            </div>
        {%- endfor -%}
    {% endif %}
{% endblock %}