<div class="container no-padding">
    <div class="col-md-offset-3 col-md-9 no-padding">
        <footer class="footer">

                <p class="center footer-content">
                    Visos teisės saugomos &copy; 2015 basketplanner
                    <span class="text-muted">|</span>
                    <a href="#">Kontaktai</a>
                    <span class="text-muted">|</span>
                    <a href="#">Apie projektą</a>
                    <span class="text-muted">|</span>
                </p>

        </footer>
    </div>
</div>