<nav class="navbar navbar-inverse no-border-radius no-margin-bottom">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">basketplanner</a>
        </div>

        <div id="header-collapse" class="collapse navbar-collapse">
            <!-- Left side -->
            <ul class="nav navbar-nav">
                <li class="hidden-sm hidden-xs">
                    <a class="btn btn-warning navbar-btn no-border-radius custom-navbar-btn" href="#">
                        <span class="fa fa-plus-circle"></span> sukurti mačą
                    </a>
                </li>

                <li class="hidden-sm hidden-xs">
                    <a class="btn btn-warning navbar-btn no-border-radius custom-navbar-btn" href="#">
                        <span class="fa fa-users"></span> sukurti komandą
                    </a>
                </li>
            </ul>

            <!-- Right side -->
            {% if app.user %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="fa fa-envelope"></span> <span class="badge">5</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="fa fa-user"></span>
                            {{ app.security.getToken().getUser().getFullName() }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="fa fa-cog"></span> Nustatymai</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="fa fa-sign-out"></span> Atsijungti</a></li>
            </ul>
            {% endif %}
        </div>

    </div>
</nav>