<aside class="col-md-3 no-padding">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default no-border-top no-border-radius no-margin-bottom">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><span class="fa fa-home"></span> Pagrindinis </a></li>
                    <li><a class="custom-pill" href="#"><span class="fa fa-search-plus"></span> Ieškoti mačo <span class="badge pull-right">28</span></a></li>
                    <li><a class="custom-pill" href="#"><span class="fa fa-plus-circle"></span> Sukurti mačą</a></li>
                    <li><a class="custom-pill" href="#"><span class="fa fa-user-plus"></span> Ieškoti komandos <span class="badge pull-right">15</span></a></li>
                    <li><a class="custom-pill" href="#"><span class="fa fa-users"></span> Sukurti komandą</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default no-border-top no-border-radius filter-panel no-margin-bottom">
                <form action="#">
                    <fieldset>
                        <div class="form-group">
                            <label for="#"><span class="fa fa-search"></span> Paieška</label>
                            <input type="text" name="search" class="form-control no-border-radius" placeholder="paieška">
                        </div>

                        <div class="form-group">
                            <label for="#" class="control-label"><span class="fa fa-trophy"></span> Žaidimas</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 1x1
                                </label>
                                <label>
                                    <input type="checkbox"> 2x2
                                </label>
                                <label>
                                    <input type="checkbox"> 3x3
                                </label>
                                <label>
                                    <input type="checkbox"> 4x4
                                </label>
                                <label>
                                    <input type="checkbox"> 5x5
                                </label>
                                <label>
                                    <input type="checkbox"> Kita
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rajonas"><span class="fa fa-list"></span> Rajonas</label>
                            <select class="form-control no-border-radius" id="rajonas">
                                <option>pasirinkite rajoną</option>
                                <option>Dainava</option>
                                <option>Šančiai</option>
                                <option>Gričiupis</option>
                                <option>Aleksotas</option>
                                <option>Vilijampolė</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="rajonas"><span class="fa fa-calendar"></span> Data</label>
                            <input class="form-control no-border-radius" id="datepicker" type="date" placeholder="mm/dd/MMMM">
                        </div>

                        <div class="form-group center">
                            <button class="btn btn-primary btn-block no-border-radius" type="submit"><span class="fa fa-search"></span> Ieškoti</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default no-border-top no-border-radius filter-panel no-margin-bottom">
                <div class="center">
                    <p class="">Turi pasiūlymų? Parašyk mums!</p>
                    <button class="btn btn-primary no-border-radius">Susisiekti</button>
                </div>
            </div>
        </div>
    </div>

</aside>