<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <link href="{{ asset('assets/css/custom.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div class="container">
            {% block header %}
                {% include 'partials/header.html.twig' %}
            {% endblock %}

            {% block sideNavigation %}
                {% include 'partials/side-navigation.html.twig' %}
            {% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
                {% include 'partials/footer.html.twig' %}
            {% endblock %}
        </div> <!-- /container -->

        {% block javascripts %}{% endblock %}

    </body>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</html>
