{% for i in 0..9 %}
<div class="col-md-6 tile">
    <div class="panel panel-default no-border-radius no-margin-bottom">

        <div class="row">
            <div class="col-md-4 col-xs-4">
                <img class="tile-google-map" src="http://www.herl.pitt.edu/sites/default/files/images/map-close.jpg" alt="Google mapas">
            </div>
            <div class="col-md-8 col-xs-8">
                <div class="tile-content">
                    <h4 class="no-margin tile-title">Pavadinimas!</h4>
                    <p class="tile-p">
                        <span class="label label-default">3x3</span>
                        <span class="label label-default">Gričiupis</span>
                    </p>
                    <p class="tile-p">--</p>
                    <h6><span class="fa fa-clock-o"></span> Iki pradžios 1val. 57min.</h6>
                </div>
            </div>
        </div>

    </div>
    <ul class="nav nav-pills pull-right">
        <li class="active no-margin"><a class="tile-button-a" href="#"><span class="fa fa-eye"></span> Peržiūrėti</a></li>
        <li class="active no-margin"><a class="tile-button-a" href="#"><span class="fa fa-check"></span> Prisijungti</a></li>
    </ul>
    <div class="clearfix"></div>
</div>
{% endfor %}