{% extends '::base.html.twig' %}

{% block content %}

    {{ jsContainerAdd([
        'assets/js/jquery-confirm.min.js'
    ]) }}

    {% embed  'partials/panel.html.twig' %}
        {% block panel_content %}
            <div class="panel-heading"><h1>Aikštelių patvirtinimas</h1></div>
            <div class="panel-body">
                <div class="col-sm-12 col-lg-6">
                    {% if map is defined %}
                        <div id="map">
                            {{ google_map(map) }}
                        </div>
                        <input id="basket_planner_create_match_court_id" class="form-control" placeholder="Pažymėkite aikštelę žemėlapyje" readonly="true" type="text">
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        var oldValue = 0;
        setInterval(function() { inputValue($('#basket_planner_create_match_court_id').val()); }, 200);

        function inputValue(value){
            if (value != oldValue){
                oldValue = value;

                $.confirm({
                    title: 'Dėmesio!',
                    content: 'Ar tikrai norite patvirtinti šią aikštelę?',
                    confirmButton: 'Taip',
                    cancelButton: 'Ne',
                    confirm: function(){
                        var data = 'id=' + value;

                        $.ajax({
                            type: "POST",
                            url: '{{path('basket_planner_match_courts.update_approved')}}',
                            data: data,
                            error: function(e){
                                console.log('Ops! Something wrong!');
                            }
                        });
                    }
                });
            }
        }
    });
</script>
{% endblock %}