{% extends "::base.html.twig" %}

{% block main_body %}
    <div class="center-block">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock main_body %}
