{% extends '::base.html.twig' %}
{% block content %}
    {% embed  'partials/panel.html.twig' %}
        {% block panel_content %}
            <div class="panel-heading"><h1>Cron</h1></div>
            <div class="panel-body">
                <div class="col-sm-12 col-lg-6">
                    Cron veiksmai pridėti!
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}