<div id="map">
    {{ google_map(map) }}
</div>

<script type="text/javascript">
    var mapVariable = {{ mapVariable }};
    var geocoder;
    var marker;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        google.maps.event.addListener(mapVariable, 'click', function(event) {
            placeMarker(event.latLng);
        });
    }
    function placeMarker(location) {
        if (marker == null){
            marker = new google.maps.Marker({
                position: location,
                map: mapVariable,
                markerID: 'new'
            });
            google.maps.event.addListener(marker, 'click', markerClickEventListener);
            marker.info = new google.maps.InfoWindow({
                content: '<br>'
            });
            geocodePosition(marker.getPosition());
            google.maps.event.addListener(marker, 'click', function() {
                marker.info.open(mapVariable, marker);
            });
        }else{
            marker.setPosition(location);
            geocodePosition(marker.getPosition());
        }
    }
    function geocodePosition(pos) {
        geocoder.geocode({
            latLng: pos
        }, function(responses) {
            if (responses && responses.length > 0) {
                updateMarkerAddress(responses[0].formatted_address);
            } else {
                updateMarkerAddress('Cannot determine address at this location.');
            }
        });
    }
    function updateMarkerAddress(str) {
        console.log (str);
        var contentText = str + '<br>';
        marker.info.setContent(contentText);
    }
    initialize();
</script>