{% extends '::base.html.twig' %}
{% block content %}
    {% embed  'partials/panel.html.twig' %}
        {% block panel_content %}
            <div class="panel-heading"><h1>Pranešimai</h1></div>
                <div class="panel-body">
                    {% for notification in notifications %}
                        <div><h3>{{ notification.title }}</h3></div>
                        <div>{{ notification.text }}</div>
                        <div><a class="btn-match orange" href="{{ notification.link }}">
                        <i class="fa fa-eye"></i> Peržiūrėti</a></div>
                    {% endfor %}

                    <div class="navigation">
                        {{ knp_pagination_render(notifications) }}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
