{% extends '::base.html.twig' %}

{% block content %}
    <div autoscroll="false" class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading"><h1>Pranešimai: </h1></div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}